.slide-up{
    position: relative;
    overflow-y: hidden;
}

.slide-up > *{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 300ms linear;
    top: 100%;
    opacity: 0;
}

.slide_cover:hover .slide-up > *{
    top: 10%;
    opacity: 1;
}
